*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway';
  background: #f1f1f1;
}

.game {
  padding: 2rem;
  text-align: center;
}

.game__title {
  display: inline-block;
  max-width: 40rem;
  position: relative;
  padding: 0 5rem;
  font-size: 3rem;
}

.game__title::before,
.game__title::after {
  position: absolute;
  content: '';
  top: 2rem;
  height: 3.3rem;
  width: 3.3rem;
  background: url('../img/swords.svg');
  background-repeat: no-repeat;
}

.game__title::before {
  left: 1.5rem;
}

.game__title::after {
  right: 1.5rem;
}

.game__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 1rem;
}

.game__field {
  width: 40%;
}

.game__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 8rem;
  font-size: 2rem;
}

.game__avatar--you {
  margin-left: 6px;
  margin-top: 11px;
}

.game__avatar {
  width: 4rem;
}

.game__health {
  display: block;
  position: relative;
  height: 40%;
  margin-top: 2rem;
  border: 1px solid #000;
  border-radius: 1rem;
  overflow: hidden;
}

.game__health-line {
  display: block;
  height: 100%;
  background: lightgreen;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.game__health-points {
  position: absolute;
  top: 1rem;
  left: 50%;
  font-size: 1.6rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.game__controlers {
  margin-top: 7rem;
  padding: 2rem 8rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

.game__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.game__log {
  margin-top: 7rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.game__message {
  margin: 1rem 0;
  padding: 1rem;
  background: pink;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  color: red;
}

.btn {
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 2rem;
  border: 1px solid black;
  background: transparent;
  padding: 2rem 4rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: buttons 0.6s ease;
  animation: buttons 0.6s ease;
}

.btn:not(:last-child) {
  margin-bottom: 2rem;
}

.btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none;
}

.btn--start:hover {
  background: goldenrod;
}

.btn--attack:hover {
  background: lightsalmon;
}

.btn--heal:hover {
  background: lightgreen;
}

.btn--giveup:hover {
  background: lightseagreen;
}

.btn--special:hover {
  background: lightcoral;
}

@-webkit-keyframes buttons {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttons {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 420px) {
  .game__title::before,
  .game__title::after {
    top: 0;
  }

  .game__title::before {
    left: 0;
  }

  .game__title::after {
    right: 0;
  }
}

@media (min-width: 716px) {
  .game__controlers {
    padding: 2rem;
  }

  .game__buttons {
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .game__buttons .btn {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .game__controlers,
  .game__log {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    margin-right: 0;
  }
}
